# https://editorconfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Shell POSIX do projeto: indentação com tab (o script e as suítes de teste
# já são escritos assim). Os padrões sem barra casam pelo nome em qualquer
# diretório, então continuam valendo se o layout for reorganizado.
[*.sh]
indent_style = tab

[git-alias]
indent_style = tab
